@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #111419;
}

main {
    padding-left: 5%;
    padding-right: 40%;
    color: white;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

main h1 {
    font-size: 2.5em;
}

main p {
    color: #d0d0d0;
}

strong {
    color: #ffffff;
    font-family: 'Homemade Apple', cursive;
}

@media screen and (max-width: 800px) {
    main {
        font-size: 1.2em;
        padding-left: 5%;
        padding-right: 5%;
    }
    /* Estilos main */
    .mainheader {
        height: 40vh;
    }
    .column-2 {
        width: 100%;
    }
    .column-3 {
        width: 50%;
    }
    .column-4 {
        width: 50%;
    }
    .column-33 {
        width: 100%;
    }
    .column-66 {
        width: 100%;
        float: left;
    }
    .text-4 {
        width: 100%;
    }
    .target {
        height: 30vw;
    }
    .column-75 {
        width: 100%;
        float: left;
    }
    .target-s {
        height: 15vw;
    }
    .padding-mobile {
        padding: 1% 2% 1% 2%;
    }
    .padding-right {
        padding-right: 2%;
    }
    .target-wr {
        height: 40vw;
    }
    .padding-l {
        padding: 0;
    }
}


/* Responsive móbil */

@media screen and (max-width: 400px) {
    main {
        font-size: 1em;
        padding-left: 5%;
        padding-right: 5%;
    }
    button {
        margin-bottom: 1%;
    }
    /* Estilos main */
}